.carousel {
  width: 70vw;
  height: 500px;

  .swiper {
    height: 500px;
    .swiper-wrapper {
      .swiper-slide {
        background-color: rgb(185, 97, 97);
        border-radius: 15px;
        background-size: cover;

        img {
          border-radius: 15px;
        }
      }
    }
  }
}
