@import url("./index.scss");
@import "/src/styles/utils/style.scss";

.header {
  &__language {
    position: relative;
    align-items: center;
    gap: 3rem;
    &>button {
        @include text($ff, 700, 14rem, 19rem, $white);
    }

    &:hover {
        display: block;
    }
  }
}
.modal {
    position: fixed;
    opacity: 0;
    transition: 0.6s all;
    z-index: 2000;
 }
.header-modal {
  position: fixed;
  height: 120vh;
  width: 350rem;
  right: 0;
  background-color: $black;
  border-left: 2px solid $white;
  z-index: 2000;
  animation: borderGlow 2s infinite;

		&__close {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      padding: 20rem;
      width: 100%;
		}

		&__close-btn {
      @include flex-center;
      width: 45rem;
      height: 45rem;
      border-radius: 50%;
      transition: $trans5;
      &:hover {
        color: $white;
        background-color: $primary;
        box-shadow: $shadowPrimary;
        border-color: $primary;
      }
      &:active {
        transform: translateY(15px);
      }
		}

		&__nav {
      @include flex-center;
      flex-direction: column;
      gap: 10rem;
      margin-top: 50rem;
		}
}
.header-nav {
  @include flex-center;
  gap: 30rem;

		&__item {
      @include flex-center;
      cursor: pointer;
      width: 50%;
      border: 2px solid transparent;
      border-radius: 10px;
      transition: $trans5;
      padding: 10px 20px;
      @include text($ff, 500, 14rem, 19rem, $grey);
      letter-spacing: 1.5rem;

      &:hover {
        color: $white;
        background-color: $primary;
        box-shadow: $shadowPrimary;
        border-color: $primary;
        width: 80%;
      }
      &:active {
        transform: translateY(15px);
      }
		}

		&__section {
      @include flex-center;
		}
}
.header-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  backdrop-filter: blur(50px);
  opacity: 0.6;
  z-index: 1999;
}
.header-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  color: $white;
  padding: 20px 40px;
  background-color: $black;
  z-index: 1500;

		&__btn {
      @include flex-center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: 0.5s all;
      &:hover {
        color: $white;
        background-color: $primary;
        box-shadow: $shadowPrimary;
        border-color: $primary;
      }
      &:active {
        transform: translateY(15px);
      }
		}
}

.header-logo {
		&__section {
      @include flex-center;
      cursor: pointer;
      transition: $trans5;
      &:active {
        transform: translateY(15px);
      }
      &>h1 {
        @include text($ff, 500, 16rem, 22rem, $white);
        text-transform: uppercase;
        padding: 10rem;
      }
      &>img {
        width: 60rem;
        height: 60rem;
      }
		}
}

.header-body {
  position: fixed;
  @include flex-center;
  gap: 30rem;
  width: 100vw;
  padding: 20rem;
  background-color: $black;
  z-index: 1500;
}

.modal.animate_in {
  opacity: 1;
}
.modal.animate_out {
  opacity: 0;
}